.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 0; */
    border-bottom: 1px solid #e6eeff; 
  }
  
  .table-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #333;
    flex: 1;
  }
  
  
  .download-btn {
    background: #2f6eff;
    color: white;
    border: none;
    border-radius: 3.5px;
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .download-btn:hover {
    background: #2658cc;
  }
  