/* Navbar container */
.navbar {
  /* background: linear-gradient(0deg, #E0E9FF, #E0E9FF), #FBFBFB; */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: 70px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /* width: 100vw;  */
}

/* Logo and Text */
.logo {
  width: 50px;
  height: auto;
  object-fit: contain;
}

.navbar-text {
  display: flex;
  flex-direction: column;
}

.navbar-text1 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}

.navbar-text2 {
  font-size: 14px;
  color: #333;
  white-space: nowrap;
}

/* Responsive Design for Tablets */
@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0 10px;
    height: auto;
  }

  .logo {
    width: 80px;
    max-height: 35px;
  }

  .navbar-text1 {
    font-size: 16px;
  }

  .navbar-text2 {
    font-size: 12px;
  }

}


/* Mobile View */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    height: auto;
    padding: 10px;
    align-items: center;
    gap: 10px;
    
  }

  .navbar-toggler{
    justify-content: left;
  }
  .dropdown-container {
    width: 100%; 
    justify-content: center;

  }

  .logo {
    width: 70px;
    max-height: 30px;
   
  }

  .navbar-text {
    text-align: center;
  }

  .navbar-nav {
    margin-top: 15px;
  }
}

/* Extra Small Screens (Phones) */
@media screen and (max-width: 480px) {
  .logo {
    width: 60px;
    max-height: 25px;
  }

  .navbar-text1 {
    font-size: 14px;
  }

  .navbar-text2 {
    font-size: 10px;
  }

  .dropdown-container {
    gap: 8px;
  }
}

@media screen and (max-width: 991px) and (min-width: 480px) {
  .time-container {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    width: 100%; /* Ensure full width */
    margin: auto;
  }
}
