.user-welcome-container {
  width: auto;
}

.welcome-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  text-align: right;
  color: #8A9CA7; /* Blue Gray-400 */
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .welcome-text {
    font-size: 12px;  /* Adjust font size for smaller screens */
  }
}

@media (max-width: 768px) {
  .welcome-text {
    font-size: 11px;  /* Smaller font size */
  }
}

@media (max-width: 480px) {
  .welcome-text {
    font-size: 10px;  /* Smaller font size for mobile */
  }
}
