.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  padding-left: 13px;
  position: absolute;
  width: 70px;
  height: 25px;
  left: 1077px;
  top: 677px;

  background: #2f6eff;
  border-radius: 3.55729px;
}
.custom-label {
  width: 50px;
  height: 12px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
