.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 58px;
  padding: 23px;
  border-radius: 20px;
  margin: 20px;
  background: radial-gradient(
      76.16% 76.16% at 31.97% 19.67%,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    ),
    #2f6eff;

  box-shadow: -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset,
    10px 12px 24.3px 0px rgba(0, 0, 0, 0.2);
}
.custom-label {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

.custom-button:hover {
  opacity: 0.9;
}
